main {
  min-height: 80vh;
  
}
html {
  width: 100%;
}

h3 {
  padding: 1rem 0;
}

.b-nav a {
  color: #F5921F !important;
  font-weight: bold;
  font-size: 15px !important;
  padding-top: 1.5rem !important;
  height: fit-content;
}

/* Category product cards */
.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.btn-atc {
  border-color: rgb(6,13,59);
}
.btn-details {
  background-color: #F5921F;
}
.btn-details:hover {
  background-color: #F5921F;
}

.btn-details a:hover {
  text-decoration: none;
}
.btn-atc:hover {
  background-color: rgb(6,13,59);
  border-color: rgb(6,13,59);

}


/* Message saying 'no reviews' styles ovveride */

.alert-info {
  background-color:  #f1a650 !important;
  color: #000;
  border: 0;
  font-style: oblique;
}

/* end -- Message saying 'no reviews' styles ovveride */

/* Showcase styling */

.showcase .card {
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
.showcase .card:hover {
  text-decoration: none;
  cursor: pointer;
}
.showcase img {
  width: 15rem;
  height: 20rem;
  margin: auto;
}
.showcase .card-title {
  font-size: 1rem;
  justify-content: center;
}
.showcase .card-focus {
  font-size: 1.3rem;
  color: #F5921F;
  font-weight: bold !important;
}

/* end-- Showcase styling */


.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px
}

.b-nav a:hover {
  color: black !important;
}

.nav-link {
  padding: 0rem 0.8rem;
}

.profile-nav {
  padding: 0 5px;
  margin: 0 !important;
}

.profile-nav a {
  padding: 10px!important;
}



h1 {
  font-size: 1.2rem;
  padding: 2rem 0 !important;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}



/* Hero Carousel */

.carouselP {
  border: 0 !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 700px;
  width: 100%;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  h1 {
    padding: 10px !important;
  }
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .container {
    padding: 0 !important;
  }
  .carousel img {
    height: 100%;
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  h2 {
    font-size: 1rem;
    padding: 0.5rem 0;
  }

}
